<div>
      <section class="hero is-fullheight-with-navbar is-link">
        <.flash_group flash={@flash} />
        <div class="hero-body">
          <div class="container has-text-centered">
          <p class="title">
          Welcome to Jobify          
        </p>
          <p class="subtitle-1">
            Find Your Dream Job and Company
          </p>
          </div>
        </div>
      </section>
  </div>