<.header>
  Edit Industry <%= @industry.id %>
  <:subtitle>Use this form to manage industry records in your database.</:subtitle>
</.header>

<.industry_form changeset={@changeset} action={~p"/industries/#{@industry}"} />

<.back navigate={~p"/industries"}>Back to industries</.back>
