<.header class="section is-flex is-justify-content-space-between">
  <p class="title">
   Add a New Industry
  </p>
  <:subtitle>Use this form to manage industry records in your database.</:subtitle>
</.header>

<.industry_form changeset={@changeset} action={~p"/industries"} />

<.back navigate={~p"/industries"}>Back to industries</.back>
